# TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [2]:
def reversestring(inp):
    return inp[::-1]

inp=input("enter the string :")
print("the reverse of the strinng is :")
print("",reversestring(inp))

enter the string :asus
the reverse of the strinng is :
 susa

2. Check if a string is a palindrome.

In [5]:
def is_palindrome(string):
    # Remove spaces and convert to lowercase for a case-insensitive check
    cleaned_string = string.replace(" ", "").lower()
    
    # Compare the cleaned string with its reverse
    return cleaned_string == cleaned_string[::-1]

# Example usage:
input_string = input("enter the input")
if is_palindrome(input_string):
    print(f"{input_string} is a palindrome.")
else:
    print(f"{input_string} is not a palindrome.")

enter the inputabcdabcde
abcdabcde is not a palindrome.

3. Convert a string to uppercase.

In [8]:
input_string=input("enter the input")
print(input_string.upper())

enter the inputasish
ASISH

4. Convert a string to lowercase.

In [9]:
input_string=input("enter the input")
print(input_string.lower())

enter the inputAsish
asish

5. Count the number of vowels in a string.

In [12]:
inp=input("enter the input")
#convert input string in lower case
inp=inp.lower()
vowel_count=0
#create set of vowels
vowels="aeiou"
for char in inp:
    if char in vowels:
        vowel_count+=1

print("the total vowels of the string:",vowel_count)

enter the inputaeiou
the total vowels of the string: 5

6. Count the number of consonants in a string.

In [13]:
inp=input("enter the input")
#convert input string in lower case
inp=inp.lower()
constant_count=0
#create set of vowels
vowels="aeiou"
for char  in inp:
    if char not in vowels:
        constant_count+=1

print("the total vowels of the string:",constant_count)

enter the inputasish
the total vowels of the string: 3

7. Remove all whitespaces from a string.

In [17]:
# Input string
input_string = "Hello, World!"

# Remove all whitespaces from the string
no_whitespace_string = input_string.replace(" ", "")

# Print the result
print(no_whitespace_string)

Hello,World!

8. Find the length of a string without using the `len()` function.

In [22]:
inp=input("enter the string")

count=0
for char in inp:
        count+=1

print("length of the string is",count)

enter the stringasish
length of the string is 5

9. Check if a string contains a specific word.

In [24]:
# Input string
input_string = "This is a sample string."

# Word to check for
specific_word = "sample"

# Find the word in the string
word_index = input_string.find(specific_word)

if word_index != -1:
    print(f"The string contains the word '{specific_word}' at index {word_index}.")
else:
    print(f"The string does not contain the word '{specific_word}'.")

The string contains the word '{specific_word}' at index {word_index}.

10. Replace a word in a string with another word.

In [26]:
# Input string
input_string = "This is a sample string."

# Word to replace for
specific_word = "sample"

new_word="new"
new = input_string.replace(specific_word,new_word)

print(new)

This is a new string.

11. Count the occurrences of a word in a string.

In [8]:
def count_occurrences(inp,targetword):
    count=0
    words=inp.split()
    for word in words:
        if word==targetword:
            count+=1
    return count
inp=input("enter a string:")
targetword=input("enter the target word for finding occurrences: ")
occurrences=count_occurrences(inp,targetword)
print(f"the word occurreces of '{inp}'is'{occurrences}'")

enter a string:asish asish asish
enter the target word for finding occurrences: asish
the word occurreces of 'asish asish asish'is'3'

12. Find the first occurrence of a word in a string.

In [13]:
def firstocc(inp,targetword):
    index=inp.find(targetword)
    
    if index!= -1:
        return index
    else:
        return -1
    
inp=input("enter the string:")
targetword=input("enter the target word for finding occurence")
indexfirst=firstocc(inp,targetword)
print(f"the first occurene of '{inp}' is '{indexfirst}'")

enter the string:asish is a goood boy
enter the target word for finding occurenceboy
the first occurene of 'asish is a goood boy' is '17'

13. Find the last occurrence of a word in a string.

In [14]:
def lastocc(inp,targetword):
    index=inp.rfind(targetword)
    
    if index!= -1:
        return index
    else:
        return -1
    
inp=input("enter the string:")
targetword=input("enter the target word for finding occurence")
indexfirst=lastocc(inp,targetword)
print(f"the first occurene of '{inp}' is '{indexfirst}'")

enter the string:asish is a  name and asish is good boy
enter the target word for finding occurenceasish
the first occurene of 'asish is a  name and asish is good boy' is '21'

14. Split a string into a list of words.

In [18]:
inp=input("enter the input:")
print(inp.split())

enter the input:asish is a good boy
['asish', 'is', 'a', 'good', 'boy']

15. Join a list of words into a string.

In [20]:
wordlst=["asish","is","a","good","boy"]
result=" ".join(wordlst)
print(result)

asish is a good boy

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [21]:
orignal="this is a good for exchange"
underscore_string=orignal.replace(" ","_")
print(underscore_string)

this_is_a_good_for_exchange

17. Check if a string starts with a specific word or phrase.

In [22]:
orignal_string="this is a good for buy"
specificword="this"
starts_with=orignal_string.startswith(specificword)
if starts_with:
    print(f"The string starts with '{specificword}'.")
else:
    print(f"The string does not start with '{specificword}'.")

The string starts with 'this'.

18. Check if a string ends with a specific word or phrase.

In [25]:
orignal_string="this is a good for buy this object this"
specificword="this"
ends_with=orignal_string.endswith(specificword)
if ends_with:
    print(f"The string ends with '{specificword}'.")
else:
    print(f"The string does not ends with '{specificword}'.")

The string ends with 'this'.

19. Convert a string to title case (e.g., "hello world" to "Hello World")

In [26]:
inp=input("enter the string")
print(inp.title())

enter the stringasish kumar panda
Asish Kumar Panda

20. Find the longest word in a string.

In [27]:
def longestword(inp):
    words=inp.split()
    maxlen=0
    longest_word=""
    for char in words:
         if len(char)>maxlen:
                longest_word=char
                maxlen=len(char)
    return longest_word
inp=input("enter the string:")
longest=longestword(inp)
print("the longest word of a string is :",longest)

enter the string:asish is a good ambiousguy
the longest word of a string is : ambiousguy

21. Find the shortest word in a string.

In [28]:
def shortestword(inp):
    words=inp.split()
    short=words[0]
    
    for char in inp:
        if len(char)<len(short):
            short=char
    return short
inp=input("enter the string:")
shortest_word=shortestword(inp)
print(f"the shortest word is'{shortest_word}'")

enter the string:asish is a good boy of this school
the shortest word is'a'

22. Reverse the order of words in a string

In [2]:
def reverse_words(string):
    # Split the string into words
    words = string.split()
    
    # Reverse the order of words
    reversed_words = words[::-1]
    
    # Join the reversed words back into a string
    reversed_string = ' '.join(reversed_words)
    
    return reversed_string



original_string = "Reverse the order of words"
reversed_string = reverse_words(original_string)
print(reversed_string)  # Output: "words of order the Reverse"

words of order the Reverse

23. Check if a string is alphanumeric.

In [3]:
def is_alphanumeric(string):
    # Check if the string consists only of alphanumeric characters
    return string.isalnum()
string1 = "Hello123"
string2 = "12345"
string3 = "Hello World"
string4 = "Special_characters!123"

print(is_alphanumeric(string1))  # True
print(is_alphanumeric(string2))  # True
print(is_alphanumeric(string3))  # False
print(is_alphanumeric(string4))  # False

True
True
False
False

24. Extract all digits from a string

In [4]:
def extract_digits(string):
    # Initialize an empty string to store digits
    extracted_digits = ""

    # Iterate through each character in the string
    for char in string:
        # Check if the character is a digit
        if char.isdigit():
            # If it's a digit, append it to the extracted_digits string
            extracted_digits += char

    return extracted_digits
input_string = "Hello123World456"
result = extract_digits(input_string)
print(result)  # Output: "123456"

123456

25. Extract all alphabets from a string.

In [7]:
def extract_alphas(string):
   
    extracted_alphas = ""

    
    for char in string:
        
        if char.isalpha():
            
            extracted_alphas += char

    return extracted_alphas
input_string = "Hello123World456"
result = extract_alphas(input_string)
print(result)

HelloWorld

26. Count the number of uppercase letters in a string

In [8]:
def count_uppercase_letters(string):
    # Initialize a count to keep track of the uppercase letters
    count = 0

    # Iterate through each character in the string
    for char in string:
        # Check if the character is an uppercase letter
        if char.isupper():
            # If it's an uppercase letter, increment the count
            count += 1

    return count
input_string = "Hello World"
uppercase_count = count_uppercase_letters(input_string)
print(uppercase_count)  # Output: 2

2

27. Count the number of lowercase letters in a string.

In [9]:
def count_lowercase_letters(string):
    # Initialize a count to keep track of the lowercase letters
    count = 0

    # Iterate through each character in the string
    for char in string:
        # Check if the character is a lowercase letter
        if char.islower():
            # If it's a lowercase letter, increment the count
            count += 1

    return count
input_string = "Hello World"
lowercase_count = count_lowercase_letters(input_string)
print(lowercase_count)  # Output: 8

8

28. Swap the case of each character in a string.

In [10]:
def swap_case(string):
    # Use the swapcase() method to swap the case of each character
    swapped_string = string.swapcase()
    
    return swapped_string
input_string = "Hello World"
swapped_string = swap_case(input_string)
print(swapped_string)  # Output: "hELLO wORLD"

hELLO wORLD

29. Remove a specific word from a string.

In [11]:
def remove_word(input_string, word_to_remove):
    # Use the replace() method to remove the specified word
    modified_string = input_string.replace(word_to_remove, "")
    
    return modified_string
input_string = "This is a sample sentence. Remove 'sample' from it."
word_to_remove = "sample"
result_string = remove_word(input_string, word_to_remove)
print(result_string)
# Output: "This is a  sentence. Remove 'sample' from it."

This is a  sentence. Remove '' from it.

30. Check if a string is a valid email addres

In [12]:
import re

def is_valid_email(email):
    # Define a regular expression pattern for a basic email validation
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'
    
    # Use the re.match() function to check if the email matches the pattern
    if re.match(pattern, email):
        return True
    else:
        return False
email1 = "user@example.com"
email2 = "invalid-email"
email3 = "missing@tld."

print(is_valid_email(email1))  # True
print(is_valid_email(email2))  # False
print(is_valid_email(email3))  # False

True
False
False

31. Extract the username from an email address string.

In [1]:
# Example email address
email = "example.user@email.com"

# Split the email address at the "@" symbol
parts = email.split("@")

# Check if there are two parts (username and domain) in the split result
if len(parts) == 2:
    username = parts[0]
    print("Username:", username)
else:
    print("Invalid email address. No username found.")

Username: example.username

32. Extract the domain name from an email address string.

In [2]:
email = "example.user@email.com"
parts = email.split("@")
if len(parts) == 2:
    domainname = parts[1]
    print("domainname", domainname)
else:
    print("Invalid email address. No domainname found.")

domainname email.com

33. Replace multiple spaces in a string with a single space.

In [3]:
inp=input("enter the string :")
new_string=inp.replace(" ","  ")
print(new_string)

enter the string :asish is a good boy
asish  is  a  good  boy

34. Check if a string is a valid URL.

In [1]:
import validators

# Example URL
url = "https://www.example.com"

if validators.url(url):
    print("Valid URL")
else:
    print("Invalid URL")

Valid URL

35. Extract the protocol (http or https) from a URL string.

In [2]:
url = "https://www.example.com"
new=url.split(":")
print(new[0])

https

36. Find the frequency of each character in a string.

In [3]:
# Input string
input_string = "hello world"

# Initialize an empty dictionary to store character frequencies
char_frequency = {}

# Iterate through the string
for char in input_string:
    # Check if the character is not a space
    if char != ' ':
        # Increment the character's count in the dictionary
        char_frequency[char] = char_frequency.get(char, 0) + 1

# Print the character frequencies
for char, frequency in char_frequency.items():
    print(f"'{char}': {frequency}")

'h': 1
'e': 1
'l': 3
'o': 2
'w': 1
'r': 1
'd': 1

37. Remove all punctuation from a string.

In [6]:
# Input string
input_string = "Hel!lo1, World! This is an example string."

# Initialize an empty string to store the cleaned text
cleaned_string = ""

# Iterate through each character in the input string
for char in input_string:
    # Check if the character is not a punctuation mark
    if char.isalnum() or char.isspace():
        cleaned_string += char

# Print the cleaned string
print(cleaned_string)

Hello1 World This is an example string

38. Check if a string contains only digits.

In [7]:
input_string = "12345"

# Method 1: Using isdigit()
if input_string.isdigit():
    print("Method 1: The string contains only digits.")
else:
    print("Method 1: The string contains non-digit characters.")

Method 1: The string contains only digits.

39. Check if a string contains only alphabets.

In [8]:
input_string = "12345"

# Method 1: Using isalpha()
if input_string.isalpha():
    print("Method 1: The string contains only alphabets.")
else:
    print("Method 1: The string contains non-alphabet  characters.")

Method 1: The string contains non-alphabet  characters.

40. Convert a string to a list of characters.

In [9]:
# Input string
input_string = "Hello, World!"

# Convert the string to a list of characters
char_list = list(input_string)

# Print the list of characters
print(char_list)

['H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!']

41. Check if two strings are anagrams.

In [1]:
def are_anagrams(str1, str2):
    # Remove spaces and convert both strings to lowercase to make the comparison case-insensitive
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()
    
    # Check if the lengths of the strings are the same
    if len(str1) != len(str2):
        return False
    
    # Create dictionaries to store character frequencies in both strings
    char_count1 = {}
    char_count2 = {}
    
    # Count characters in the first string
    for char in str1:
        if char in char_count1:
            char_count1[char] += 1
        else:
            char_count1[char] = 1
    
    # Count characters in the second string
    for char in str2:
        if char in char_count2:
            char_count2[char] += 1
        else:
            char_count2[char] = 1
    
    # Compare the character frequencies in both dictionaries
    return char_count1 == char_count2

# Example usage:
str1 = "listen"
str2 = "silent"
if are_anagrams(str1, str2):
    print(f"{str1} and {str2} are anagrams.")
else:
    print(f"{str1} and {str2} are not anagrams.")

listen and silent are anagrams.

42. Encode a string using a Caesar cipher.

In [2]:
def caesar_cipher_encrypt(text, shift):
    encrypted_text = ""

    for char in text:
        if char.isalpha():  # Check if it's a letter
            is_upper = char.isupper()  # Check if it's uppercase
            if is_upper:
                alphabet_start = ord('A')
            else:
                alphabet_start = ord('a')
            
            char_code = ord(char) - alphabet_start  # Convert letter to a number (0-25)
            encrypted_char_code = (char_code + shift) % 26  # Shift the letter by 'shift' positions
            encrypted_char = chr(encrypted_char_code + alphabet_start)  # Convert back to a letter
            encrypted_text += encrypted_char  # Append the encrypted letter
        else:
            encrypted_text += char  # Keep non-letter characters unchanged

    return encrypted_text

# Example usage:
plaintext = "Hello, World!"
shift = 3
encrypted_text = caesar_cipher_encrypt(plaintext, shift)
print(f"Original Text: {plaintext}")
print(f"Encrypted Text: {encrypted_text}")

Original Text: Hello, World!
Encrypted Text: Khoor, Zruog!

43. Decode a Caesar cipher encoded string

In [3]:
def caesar_cipher_decrypt(encrypted_text, shift):
    decrypted_text = ""

    for char in encrypted_text:
        if char.isalpha():  # Check if it's a letter
            is_upper = char.isupper()  # Check if it's uppercase
            if is_upper:
                alphabet_start = ord('A')
            else:
                alphabet_start = ord('a')
            
            char_code = ord(char) - alphabet_start  # Convert letter to a number (0-25)
            decrypted_char_code = (char_code - shift) % 26  # Reverse the shift
            decrypted_char = chr(decrypted_char_code + alphabet_start)  # Convert back to a letter
            decrypted_text += decrypted_char  # Append the decrypted letter
        else:
            decrypted_text += char  # Keep non-letter characters unchanged

    return decrypted_text

# Example usage:
encrypted_text = "Khoor, Zruog!"
shift = 3
decrypted_text = caesar_cipher_decrypt(encrypted_text, shift)
print(f"Encrypted Text: {encrypted_text}")
print(f"Decrypted Text: {decrypted_text}")

Encrypted Text: Khoor, Zruog!
Decrypted Text: Hello, World!

44. Find the most frequent word in a string.

In [26]:
from collections import Counter
import re

def most_frequent_word(text):
    # Tokenize the text into words (split on spaces and remove punctuation)
    words = re.findall(r'\b\w+\b', text.lower())

    # Count the frequency of each word
    word_counts = Counter(words)

    # Find the word with the highest frequency
    most_common_word, most_common_count = word_counts.most_common(1)[0]

    return most_common_word, most_common_count

# Example
text = "This is a sample sentence. This sentence contains the word 'sample' multiple times. Sample."
most_frequent, frequency = most_frequent_word(text)
print(f"The most frequent word is '{most_frequent}' with a frequency of {frequency} times.")

The most frequent word is 'sample' with a frequency of 3 times.

45. Find all unique words in a string.

In [27]:
import re

def unique_words(text):
    # Tokenize the text into words (split on spaces and remove punctuation)
    words = re.findall(r'\b\w+\b', text.lower())

    # Create a set to store unique words
    unique_word_set = set(words)

    return unique_word_set

# Example
text = "This is a sample sentence. This sentence contains some sample words."
unique_words_set = unique_words(text)

# Print the unique words
print("Unique words in the text:")
for word in unique_words_set:
    print(word)

Unique words in the text:
some
sentence
this
is
words
a
contains
sample

46. Count the number of syllables in a string.

In [28]:
import re

def count_syllables(word):
    # Remove non-alphabetic characters and convert to lowercase
    word = re.sub(r'[^a-zA-Z]', '', word).lower()

    if not word:
        return 0

    vowels = "aeiouy"
    syllable_count = 0
    prev_char_is_vowel = False

    for char in word:
        if char in vowels:
            if not prev_char_is_vowel:
                syllable_count += 1
            prev_char_is_vowel = True
        else:
            prev_char_is_vowel = False

    # Adjust syllable count for specific cases
    if word.endswith("e"):
        syllable_count -= 1
    if syllable_count == 0:
        syllable_count = 1

    return syllable_count

# Example
word = "syllable"
syllable_count = count_syllables(word)
print(f"The word '{word}' has {syllable_count} syllables.")

The word 'syllable' has 2 syllables.

47. Check if a string contains any special characters.

In [29]:
import re

def contains_special_characters(text):
    # Define a regular expression pattern to match special characters
    special_characters_pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\|/]')
    
    # Use the pattern to search for special characters in the text
    if special_characters_pattern.search(text):
        return True
    else:
        return False

# Example
text = "Hello, World!"
if contains_special_characters(text):
    print("The text contains special characters.")
else:
    print("The text does not contain special characters.")

The text contains special characters.

48. Remove the nth word from a string.

In [30]:
def remove_nth_word(input_string, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is a valid index
    if 0 <= n < len(words):
        # Remove the nth word
        del words[n]

        # Join the remaining words back into a string
        result_string = ' '.join(words)

        return result_string
    else:
        # If n is out of bounds, return the original string
        return input_string

# Example
input_string = "This is a sample sentence."
n = 2  # Remove the third word (index 2)
result = remove_nth_word(input_string, n)
print(result)

This is sample sentence.

49. Insert a word at the nth position in a string

In [31]:
def insert_word_at_position(input_string, word_to_insert, n):
    # Split the input string into words
    words = input_string.split()

    # Check if n is a valid index
    if 0 <= n <= len(words):
        # Insert the word at the nth position
        words.insert(n, word_to_insert)

        # Join the words back into a string
        result_string = ' '.join(words)

        return result_string
    else:
        # If n is out of bounds, return the original string
        return input_string

# Example
input_string = "This is a sentence."
word_to_insert = "sample"
n = 2  # Insert "sample" at the third position (index 2)
result = insert_word_at_position(input_string, word_to_insert, n)
print(result)

This is sample a sentence.

50. Convert a CSV string to a list of lists.

In [32]:
def csv_string_to_list(csv_string):
    # Split the CSV string into lines
    lines = csv_string.strip().split('\n')
    
    # Initialize the result list
    result = []
    
    for line in lines:
        # Split each line into fields using a comma as the delimiter
        fields = line.split(',')
        
        # Append the fields as a list to the result
        result.append(fields)
    
    return result

# Example CSV string
csv_string = "Name,Age,Location\nAlice,30,New York\nBob,25,Los Angeles\nCharlie,35,San Francisco"

# Convert the CSV string to a list of lists
csv_list = csv_string_to_list(csv_string)

# Print the resulting list
for row in csv_list:
    print(row)

['Name', 'Age', 'Location']
['Alice', '30', 'New York']
['Bob', '25', 'Los Angeles']
['Charlie', '35', 'San Francisco']

# List Based Practice Problem :

1. Create a list with integers from 1 to 10

In [4]:
my_list = list(range(1, 11))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [8]:
my_list = list(range(1, 11))
count=0
for i  in my_list:
    count+=1
print(f"the length of the list is{my_list}= {count}")

the length of the list is[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]= 10

3. Append an element to the end of a list.

In [11]:
my_list = [1, 2, 3, 4, 5]

# Append an element to the end of the list
my_list.append(6)

# Now, the list contains [1, 2, 3, 4, 5, 6]
print(my_list)

[1, 2, 3, 4, 5, 6]

4. Insert an element at a specific index in a list.

In [12]:
my_list = [1, 2, 3, 4, 5]

# Insert an element (e.g., 6) at index 2 (zero-based index)
my_list.insert(2, 6)

# Now, the list contains [1, 2, 6, 3, 4, 5]
print(my_list)

[1, 2, 6, 3, 4, 5]

5. Remove an element from a list by its value.

In [13]:
my_list = [1, 2, 3, 4, 5]

# Remove the element with the value 3 from the list
my_list.remove(3)

# Now, the list contains [1, 2, 4, 5]
print(my_list)

[1, 2, 4, 5]

6. Remove an element from a list by its index.

In [14]:
my_list = [1, 2, 3, 4, 5]

# Remove the element at index 2 (zero-based index)
removed_element = my_list.pop(2)

# Now, the list contains [1, 2, 4, 5], and the removed_element is 3
print(my_list)

[1, 2, 4, 5]

7. Check if an element exists in a list.

In [15]:
my_list = [1, 2, 3, 4, 5]

# Check if an element (e.g., 6) does not exist in the list
if 6 not in my_list:
    print("6 does not exist in the list")
else:
    print("6 exists in the list")

6 does not exist in the list

8. Find the index of the first occurrence of an element in a list.

In [16]:
my_list = [1, 2, 3, 4, 5]
element_to_find = 3  # Element to search for

# Check if the element exists in the list
if element_to_find in my_list:
    index = my_list.index(element_to_find)
    print(f"The index of {element_to_find} is {index}")
else:
    print(f"{element_to_find} is not in the list")

The index of 3 is 2

9. Count the occurrences of an element in a list.

In [17]:
my_list = [1, 2, 3, 2, 4, 2, 5]

# Count the occurrences of an element (e.g., 2)
element_to_count = 2

occurrences = my_list.count(element_to_count)
print(f"The element {element_to_count} appears {occurrences} times in the list")

The element 2 appears 3 times in the list

10. Reverse the order of elements in a list

In [18]:
my_list = [1, 2, 3, 4, 5]

# Reverse the order of elements in the list using slicing
my_list = my_list[::-1]

# Now, my_list contains [5, 4, 3, 2, 1]
print(my_list)

[5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [19]:
my_list = [5, 2, 1, 4, 3]

# Sort the list in ascending order using the sort() method
my_list.sort()

# Now, my_list is sorted: [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

12. Sort a list in descending order.

In [20]:
my_list = [5, 2, 1, 4, 3]

# Create a new sorted list in descending order using the sorted() function
sorted_list = sorted(my_list, reverse=True)

# Now, sorted_list contains the sorted elements in descending order: [5, 4, 3, 2, 1]
# my_list remains unchanged: [5, 2, 1, 4, 3]
print(sorted_list)

[5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [21]:
# Using a list comprehension to create a list of even numbers from 1 to 20
even_numbers = [x for x in range(1, 21) if x % 2 == 0]

# The resulting list contains even numbers from 2 to 20
print(even_numbers )

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [22]:
# Using a list comprehension to create a list of odd numbers from 1 to 20
odd_numbers = [x for x in range(1, 21) if x % 2 != 0]

# The resulting list contains odd numbers from 1 to 19
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [23]:
my_list = [1, 2, 3, 4, 5]

# Find the sum of all elements in the list
total_sum = sum(my_list)

# The total_sum variable now contains the sum of all elements in the list
print(total_sum)

15

16. Find the maximum value in a list.

In [26]:
my_list = [7, 2, 9, 4, 5]

# Find the maximum value in the list
max_value = max(my_list)

# The max_value variable now contains the maximum value in the list
print(max_value)

9

17. Find the minimum value in a list.

In [27]:
my_list = [7, 2, 9, 4, 5]

# Find the minimum value in the list
min_value = min(my_list)

# The min_value variable now contains the minimum value in the list
print(min_value)

2

18. Create a list of squares of numbers from 1 to 10.

In [28]:
# Using a list comprehension to create a list of squares of numbers from 1 to 10
squares = [x ** 2 for x in range(1, 11)]

# The resulting list contains squares of numbers from 1 to 10
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [32]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# The resulting list contains 5 random numbers
print(random_numbers)

[39, 50, 23, 77, 25]

20. Remove duplicates from a list.

In [33]:
my_list = [1, 2, 2, 3, 4, 4, 5, 5]

# Remove duplicates from the list
unique_list = list(set(my_list))

# The unique_list now contains elements with duplicates removed
print(unique_list)

[1, 2, 3, 4, 5]

21. Find the common elements between two lists.

In [34]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Convert lists to sets and find their intersection
set1 = set(list1)
set2 = set(list2)
common_elements = list(set1.intersection(set2))

# common_elements now contains [3, 4, 5], which are the common elements between the two lists
print(common_elements)

[3, 4, 5]

22. Find the difference between two lists.

In [36]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

# Find elements that are unique to each list using set difference
difference_set1 = set(list1) - set(list2)
difference_set2 = set(list2) - set(list1)

# Convert sets back to lists if needed
difference_list1 = list(difference_set1)
difference_list2 = list(difference_set2)

# difference_list1 contains [1, 2], elements unique to list1
# difference_list2 contains [6, 7], elements unique to list2
print(difference_list1)
print(difference_list2)

[1, 2]
[6, 7]

23. Merge two lists.

In [37]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Merge the two lists using the extend() method
list1.extend(list2)

# list1 is modified and now contains [1, 2, 3, 4, 5, 6]
print(list1)

[1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [39]:
my_list = [1, 2, 3, 4, 5]

# Multiply all elements in the list by 2 using a list comprehension
doubled_list = [x * 2 for x in my_list]

# The doubled_list now contains [2, 4, 6, 8, 10]
print(doubled_list)

[2, 4, 6, 8, 10]

25. Filter out all even numbers from a list

In [40]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filter out even numbers from the list using a list comprehension
filtered_list = [x for x in my_list if x % 2 != 0]

# The filtered_list now contains [1, 3, 5, 7, 9], which are the odd numbers from the original list
print(filtered_list)

[1, 3, 5, 7, 9]

26. Convert a list of strings to a list of integers.

In [41]:
string_list = ["1", "2", "3", "4", "5"]

# Convert the list of strings to a list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

# The integer_list now contains [1, 2, 3, 4, 5], with integers instead of strings
print(integer_list)

[1, 2, 3, 4, 5]

27. Convert a list of integers to a list of strings.

In [42]:
integer_list = [1, 2, 3, 4, 5]

# Convert the list of integers to a list of strings using a list comprehension
string_list = [str(x) for x in integer_list]

# The string_list now contains ['1', '2', '3', '4', '5'], with strings instead of integers
print(string_list)

['1', '2', '3', '4', '5']

28. Flatten a nested list.

In [43]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8]]

# Flatten the nested list using a list comprehension
flattened_list = [item for sublist in nested_list for item in sublist]

# The flattened_list now contains [1, 2, 3, 4, 5, 6, 7, 8]
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7, 8]

29. Create a list of the first 10 Fibonacci numbers.

In [44]:
# Initialize the first two Fibonacci numbers
fibonacci_numbers = [0, 1]

# Calculate the next 8 Fibonacci numbers and add them to the list
for i in range(2, 10):
    next_fibonacci = fibonacci_numbers[i - 1] + fibonacci_numbers[i - 2]
    fibonacci_numbers.append(next_fibonacci)

# The fibonacci_numbers list now contains the first 10 Fibonacci numbers
print(fibonacci_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [45]:
def is_sorted(lst):
    return all(lst[i] <= lst[i + 1] for i in range(len(lst) - 1))

# Example usage:
my_list = [1, 2, 3, 4, 5]
sorted_status = is_sorted(my_list)

# sorted_status is True because my_list is sorted in ascending order
print(sorted_status)

True

31. Rotate a list to the left by `n` positions.

In [46]:
def rotate_left(lst, n):
    # Ensure n is within the range of the list length
    n = n % len(lst)

    # Slice the list to perform the left rotation
    rotated_list = lst[n:] + lst[:n]

    return rotated_list

# Example usage:
my_list = [1, 2, 3, 4, 5]
n = 2  # Rotate by 2 positions to the left
rotated_result = rotate_left(my_list, n)

# rotated_result is [3, 4, 5, 1, 2]
print(rotated_result)

[3, 4, 5, 1, 2]

32. Rotate a list to the right by `n` positions.

In [48]:
def rotate_right(lst, n):
    # Ensure n is within the range of the list length
    n = n % len(lst)

    # Slice the list to perform the right rotation
    rotated_list = lst[-n:] + lst[:-n]

    return rotated_list

# Example usage:
my_list = [1, 2, 3, 4, 5]
n = 2  # Rotate by 2 positions to the right
rotated_result = rotate_right(my_list, n)

# rotated_result is [4, 5, 1, 2, 3]
print(rotated_result)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [1]:
def generate_primes(limit):
    primes = []
    for num in range(2, limit + 1):
        is_prime = True
        for divisor in range(2, int(num**0.5) + 1):
            if num % divisor == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(num)
    return primes

limit = 50
prime_list = generate_primes(limit)
print(prime_list)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [2]:
def split_into_chunks(lst, n):
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

# Example usage:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunk_size = 3
chunks = list(split_into_chunks(my_list, chunk_size))

print(chunks)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [3]:
def find_second_largest(lst):
    if len(lst) < 2:
        return "List must have at least two elements"
    
    largest = second_largest = float('-inf')
    
    for num in lst:
        if num > largest:
            second_largest = largest
            largest = num
        elif num > second_largest and num != largest:
            second_largest = num
            
    if second_largest == float('-inf'):
        return "There is no second largest element in the list"
    
    return second_largest

# Example usage:
my_list = [10, 5, 7, 3, 9, 11, 8]
second_largest = find_second_largest(my_list)

print("The second largest number is:", second_largest)

The second largest number is: 10

36. Replace every element in a list with its square.

In [4]:
def square_elements(lst):
    return [x ** 2 for x in lst]

# Example usage:
my_list = [1, 2, 3, 4, 5]
my_list = square_elements(my_list)
print(my_list)

[1, 4, 9, 16, 25]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [5]:
def list_to_dict(lst):
    return {value: index for index, value in enumerate(lst)}

# Example usage:
my_list = ['apple', 'banana', 'cherry', 'date']
my_dict = list_to_dict(my_list)
print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3}

38. Shuffle the elements of a list randomly.

In [6]:
import random

def shuffle_list(lst):
    random.shuffle(lst)

# Example usage:
my_list = [1, 2, 3, 4, 5]
shuffle_list(my_list)
print(my_list)

[2, 4, 5, 3, 1]

39. Create a list of the first 10 factorial numbers.

In [7]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

first_10_factorials = [factorial(i) for i in range(10)]

print(first_10_factorials)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [8]:
def have_common_element(list1, list2):
    set1 = set(list1)
    set2 = set(list2)
    return bool(set1.intersection(set2))

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
result = have_common_element(list1, list2)

if result:
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

41. Remove all elements from a list.

In [9]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()  # Removes all elements from the list
print(my_list)  # Outputs an empty list: []

[]

42. Replace negative numbers in a list with 0.

In [10]:
def replace_negatives_with_zero(lst):
    return [0 if x < 0 else x for x in lst]

# Example usage:
my_list = [1, -2, 3, -4, 5]
my_list = replace_negatives_with_zero(my_list)
print(my_list)  # Outputs: [1, 0, 3, 0, 5]

[1, 0, 3, 0, 5]

43. Convert a string into a list of words.

In [11]:
# Input string
input_string = "This is a sample sentence."

# Convert the string into a list of words
word_list = input_string.split()

# Print the list of words
print(word_list)

['This', 'is', 'a', 'sample', 'sentence.']

44. Convert a list of words into a string.

In [12]:
# List of words
word_list = ['This', 'is', 'a', 'sample', 'list', 'of', 'words']

# Convert the list of words into a string with space as the delimiter
result_string = ' '.join(word_list)

# Print the resulting string
print(result_string)

This is a sample list of words

45. Create a list of the first `n` powers of 2.

In [13]:
n = 5  # Change this value to the number of powers of 2 you want
powers_of_2 = [2 ** i for i in range(n)]

print(powers_of_2)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [14]:
def find_longest_string(string_list):
    if not string_list:
        return None  # Return None for an empty list

    longest_string = string_list[0]  # Assume the first string is the longest

    for string in string_list:
        if len(string) > len(longest_string):
            longest_string = string

    return longest_string

# Example usage:
my_list = ["apple", "banana", "cherry", "date", "kiwi"]
longest = find_longest_string(my_list)

if longest is not None:
    print("The longest string is:", longest)
else:
    print("The list is empty.")

The longest string is: banana

47. Find the shortest string in a list of strings.

In [15]:
def find_shortest_string(string_list):
    if not string_list:
        return None  # Return None for an empty list

    shortest_string = string_list[0]  # Assume the first string is the shortest

    for string in string_list:
        if len(string) < len(shortest_string):
            shortest_string = string

    return shortest_string

# Example usage:
my_list = ["apple", "banana", "cherry", "date", "kiwi"]
shortest = find_shortest_string(my_list)

if shortest is not None:
    print("The shortest string is:", shortest)
else:
    print("The list is empty.")

The shortest string is: date

48. Create a list of the first `n` triangular numbers.

In [16]:
def generate_triangular_numbers(n):
    triangular_numbers = []
    total = 0
    for i in range(1, n + 1):
        total += i
        triangular_numbers.append(total)
    return triangular_numbers

# Example usage:
n = 5  # Change this value to the number of triangular numbers you want
triangular_list = generate_triangular_numbers(n)

print(triangular_list)

[1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [17]:
def is_subsequence(subsequence, main_list):
    sub_len = len(subsequence)
    main_len = len(main_list)

    if sub_len > main_len:
        return False

    sub_idx = 0

    for element in main_list:
        if subsequence[sub_idx] == element:
            sub_idx += 1

        if sub_idx == sub_len:
            return True

    return False

# Example usage:
main_list = [1, 2, 3, 4, 5, 6]
subsequence = [2, 4, 6]

if is_subsequence(subsequence, main_list):
    print("The subsequence is present in the main list.")
else:
    print("The subsequence is not present in the main list.")

The subsequence is present in the main list.

50. Swap two elements in a list by their indices.

In [18]:
def swap_elements(lst, index1, index2):
    # Check if the indices are within the bounds of the list
    if 0 <= index1 < len(lst) and 0 <= index2 < len(lst):
        # Use a temporary variable to swap the elements
        temp = lst[index1]
        lst[index1] = lst[index2]
        lst[index2] = temp
        return True  # Return True to indicate successful swap
    else:
        return False  # Return False if indices are out of bounds

# Example usage:
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3

if swap_elements(my_list, index1, index2):
    print(f"Swapped elements at indices {index1} and {index2}: {my_list}")
else:
    print("Indices are out of bounds, swap failed.")

Swapped elements at indices 1 and 3: [1, 4, 3, 2, 5]

#Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5

In [19]:
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [20]:
my_tuple = (1, 2, 3, 4, 5)
third_element = my_tuple[2]

print("The third element is:", third_element)

The third element is: 3

3. Find the length of a tuple without using the `len()` function.

In [21]:
def find_tuple_length(my_tuple):
    count = 0
    for _ in my_tuple:
        count += 1
    return count

# Example usage:
my_tuple = (1, 2, 3, 4, 5)
length = find_tuple_length(my_tuple)

print("The length of the tuple is:", length)

The length of the tuple is: 5

4. Count the occurrences of an element in a tuple.

In [22]:
my_tuple = (1, 2, 2, 3, 2, 4, 5, 2)
element_to_count = 2

count = my_tuple.count(element_to_count)

print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 2 appears 4 times in the tuple.

5. Find the index of the first occurrence of an element in a tuple.

In [1]:
# Create a tuple
my_tuple = (10, 20, 30, 40, 50, 20)

# Element to search for
element_to_find = 20

# Find the index of the first occurrence of the element
index = my_tuple.index(element_to_find)

# Print the index
print("Index of the first occurrence of", element_to_find, "is:", index)

Index of the first occurrence of 20 is: 1

6. Check if an element exists in a tuple.

In [2]:
# Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Element to check
element_to_check = 30

# Check if the element exists in the tuple
if element_to_check in my_tuple:
    print(element_to_check, "exists in the tuple.")
else:
    print(element_to_check, "does not exist in the tuple.")

30 exists in the tuple.

7. Convert a tuple to a list.

In [3]:
# Create a tuple
my_tuple = (10, 20, 30, 40, 50)

# Convert the tuple to a list using a list comprehension
my_list = [x for x in my_tuple]

# Print the resulting list
print(my_list)

[10, 20, 30, 40, 50]

8. Convert a list to a tuple.

In [4]:
# Create a list
my_list = [10, 20, 30, 40, 50]

# Convert the list to a tuple
my_tuple = tuple(my_list)

# Print the resulting tuple
print(my_tuple)

(10, 20, 30, 40, 50)

9. Unpack the elements of a tuple into variables.

In [5]:
# Create a tuple
my_tuple = (10, 20, 30)

# Unpack the elements into variables
a, b, c = my_tuple

# Now, the values from the tuple are assigned to the variables a, b, and c
print("a:", a)
print("b:", b)
print("c:", c)

a: 10
b: 20
c: 30

10. Create a tuple of even numbers from 1 to 10.

In [6]:
# Using a list comprehension to generate even numbers from 1 to 10
even_numbers_list = [x for x in range(1, 11) if x % 2 == 0]

# Convert the list to a tuple
even_numbers_tuple = tuple(even_numbers_list)

# Print the resulting tuple
print(even_numbers_tuple)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [1]:
# Using a list comprehension to generate odd numbers from 1 to 10
odd_numbers_list = [x for x in range(1, 11) if x % 2 != 0]

# Convert the list to a tuple
odd_numbers_tuple = tuple(odd_numbers_list)

# Print the resulting tuple
print(odd_numbers_tuple)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [2]:
# Two example tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the two tuples
concatenated_tuple = tuple1 + tuple2

# Print the concatenated tuple
print(concatenated_tuple)

(1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [3]:
# An example tuple
original_tuple = (1, 2, 3)

# Repeat the tuple three times
repeated_tuple = original_tuple * 3

# Print the repeated tuple
print(repeated_tuple)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [7]:
# Define an example empty tuple
empty_tuple = ()

# Check if the tuple is empty
if not empty_tuple:
    print("The tuple is empty")
else:
    print("The tuple is not empty")

The tuple is not empty

15. Create a nested tuple.

In [8]:
# Creating a nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))

# Accessing elements in the nested tuple
print(nested_tuple[0])  # Access the first inner tuple
print(nested_tuple[1])  # Access the second inner tuple
print(nested_tuple[2])  # Access the third inner tuple

(1, 2)
(3, 4)
(5, 6)

16. Access the first element of a nested tuple.

In [9]:
# Creating a nested tuple
nested_tuple = ((1, 2), (3, 4), (5, 6))

# Accessing the first element of the first inner tuple
first_element = nested_tuple[0][0]

# Print the first element
print(first_element)

1

17. Create a tuple with a single element.

In [10]:
# Creating a tuple with a single element
single_element_tuple = (42,)

# Print the single-element tuple
print(single_element_tuple)

(42,)

18. Compare two tuples.

In [11]:
# Define two example tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Compare the two tuples for equality
if tuple1 == tuple2:
    print("Tuples are equal")
else:
    print("Tuples are not equal")

Tuples are not equal

19. Delete a tuple

In [13]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Delete the tuple
del my_tuple

# Trying to access the tuple after deletion will raise an error
# Uncommenting the following line will result in a NameError
# print(my_tuple)
print(my_tuple)

NameError: name 'my_tuple' is not defined

20. Slice a tuple

In [14]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Slice the tuple to get elements from index 1 to 3 (exclusive)
result_tuple = my_tuple[1:3]

# Print the result
print(result_tuple)

(2, 3)

21. Find the maximum value in a tuple.

In [15]:
# Create a tuple
my_tuple = (10, 25, 5, 40, 30)

# Find the maximum value in the tuple
max_value = max(my_tuple)

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 40

22. Find the minimum value in a tupl

In [16]:
# Create a tuple
my_tuple = (10, 25, 5, 40, 30)

# Find the minimum value in the tuple
min_value = min(my_tuple)

# Print the minimum value
print("Minimum value:", min_value)

Minimum value: 5

23. Convert a string to a tuple of characters.

In [17]:
# Create a string
my_string = "Hello, World!"

# Convert the string to a tuple of characters
char_tuple = tuple(my_string)

# Print the tuple
print(char_tuple)

('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string.

In [18]:
# Create a tuple of characters
char_tuple = ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Convert the tuple to a string
result_string = ''.join(char_tuple)

# Print the resulting string
print(result_string)

Hello, World!

25. Create a tuple from multiple data types.

In [20]:
# Create a tuple with multiple data types
mixed_tuple = (1, "Hello", 3.14, True)

# Print the mixed tuple
print(mixed_tuple)

(1, 'Hello', 3.14, True)

26. Check if two tuples are identical.

In [21]:
# Define two example tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

# Check if the two tuples are identical
if tuple1 == tuple2:
    print("The two tuples are identical")
else:
    print("The two tuples are not identical")

The two tuples are identical

27. Sort the elements of a tuple.

In [22]:
# Create a tuple
my_tuple = (5, 1, 3, 2, 4)

# Convert the tuple to a list
my_list = list(my_tuple)

# Sort the list
my_list.sort()

# Convert the sorted list back to a tuple
sorted_tuple = tuple(my_list)

# Print the sorted tuple
print(sorted_tuple)

(1, 2, 3, 4, 5)

28. Convert a tuple of integers to a tuple of strings.

In [23]:
# Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Convert the tuple of integers to a tuple of strings
tuple_of_strings = tuple(str(i) for i in tuple_of_integers)

# Print the tuple of strings
print(tuple_of_strings)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers

In [24]:
# Create a tuple of strings
tuple_of_strings = ("1", "2", "3", "4", "5")

# Convert the tuple of strings to a tuple of integers
tuple_of_integers = tuple(int(s) for s in tuple_of_strings)

# Print the tuple of integers
print(tuple_of_integers)

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [25]:
# Define two example tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Merge the two tuples
merged_tuple = tuple1 + tuple2

# Print the merged tuple
print(merged_tuple)

(1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [26]:
# Define a nested tuple
nested_tuple = ((1, 2), (3, (4, 5)), 6, (7, 8))

# Function to flatten a nested tuple
def flatten_tuple(nested):
    flat_list = []
    for item in nested:
        if isinstance(item, tuple):
            flat_list.extend(flatten_tuple(item))
        else:
            flat_list.append(item)
    return flat_list

# Flatten the nested tuple
flat_tuple = tuple(flatten_tuple(nested_tuple))

# Print the flattened tuple
print(flat_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [27]:
prime_numbers = (2, 3, 5, 7, 11)
print(prime_numbers)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome

In [28]:
# Define a tuple
my_tuple = (1, 2, 3, 2, 1)

# Check if the tuple is a palindrome
is_palindrome = my_tuple == my_tuple[::-1]

# Print the result
if is_palindrome:
    print("The tuple is a palindrome.")
else:
    print("The tuple is not a palindrome.")

The tuple is a palindrome.

34. Create a tuple of squares of numbers from 1 to 5.

In [29]:
squares_tuple = (1**2, 2**2, 3**2, 4**2, 5**2)
print(squares_tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [30]:
# Define a tuple with both even and odd numbers
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Use a list comprehension to filter out even numbers
filtered_tuple = tuple(x for x in original_tuple if x % 2 != 0)

# Print the filtered tuple
print(filtered_tuple)

(1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2

In [31]:
# Define a tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 using a list comprehension
doubled_tuple = tuple(x * 2 for x in original_tuple)

# Print the doubled tuple
print(doubled_tuple)

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [32]:
import random

# Create a tuple of 5 random integers between 1 and 100
random_tuple = tuple(random.randint(1, 100) for _ in range(5))

# Print the random tuple
print(random_tuple)

(52, 13, 84, 48, 36)

38. Check if a tuple is sorted.

In [33]:
# Define an example tuple
my_tuple = (1, 2, 3, 4, 5)

# Check if the tuple is sorted
is_sorted = my_tuple == tuple(sorted(my_tuple))

# Print the result
if is_sorted:
    print("The tuple is sorted.")
else:
    print("The tuple is not sorted.")

The tuple is sorted.

39. Rotate a tuple to the left by `n` positions.

In [1]:
def rotate_tuple_left(tup, n):
    if n < 0 or n >= len(tup):
        return tup  # No change needed for invalid values of n

    # Split the tuple into two parts: elements to be rotated and the rest
    left_part = tup[n:]
    right_part = tup[:n]

    # Concatenate the two parts to get the rotated tuple
    rotated_tuple = left_part + right_part

    return rotated_tuple
original_tuple = (1, 2, 3, 4, 5)
n = 2  # Rotate left by 2 positions

rotated_tuple = rotate_tuple_left(original_tuple, n)
print(rotated_tuple)  # Output: (3, 4, 5, 1, 2)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [2]:
def rotate_tuple_right(tup, n):
    if n < 0 or n >= len(tup):
        return tup  # No change needed for invalid values of n

    # Split the tuple into two parts: elements to be rotated and the rest
    left_part = tup[-n:]
    right_part = tup[:-n]

    # Concatenate the two parts to get the rotated tuple
    rotated_tuple = left_part + right_part

    return rotated_tuple
original_tuple = (1, 2, 3, 4, 5)
n = 2  # Rotate right by 2 positions

rotated_tuple = rotate_tuple_right(original_tuple, n)
print(rotated_tuple)  # Output: (4, 5, 1, 2, 3)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [3]:
def generate_fibonacci(n):
    fibonacci_sequence = []
    a, b = 0, 1
    for _ in range(n):
        fibonacci_sequence.append(a)
        a, b = b, a + b
    return tuple(fibonacci_sequence)

# Generate a tuple of the first 5 Fibonacci numbers
fibonacci_tuple = generate_fibonacci(5)
print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [4]:
# Taking user input as a list
user_input_list = input("Enter elements separated by spaces: ").split()

# Converting the list into a tuple
user_input_tuple = tuple(user_input_list)

# Display the resulting tuple
print("Tuple created from user input:", user_input_tuple)

Enter elements separated by spaces: 5
Tuple created from user input: ('5',)

43. Swap two elements in a tuple

In [6]:
def swap_elements_in_tuple(tup, index1, index2):
    # Convert the tuple to a list to make modifications
    tup_list = list(tup)

    # Check if the indices are valid
    if 0 <= index1 < len(tup) and 0 <= index2 < len(tup):
        # Swap the elements at index1 and index2
        tup_list[index1], tup_list[index2] = tup_list[index2], tup_list[index1]

        # Convert the list back to a tuple
        swapped_tuple = tuple(tup_list)

        return swapped_tuple
    else:
        # Invalid indices, return the original tuple
        return tup

# Example
original_tuple = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3

swapped_tuple = swap_elements_in_tuple(original_tuple, index1, index2)
print(swapped_tuple)

(1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [7]:
def reverse_tuple(tup):
    reversed_tuple = tup[::-1]
    return reversed_tuple

# Example
original_tuple = (1, 2, 3, 4, 5)
reversed_tuple = reverse_tuple(original_tuple)
print(reversed_tuple)

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2

In [8]:
def powers_of_2(n):
    if n <= 0:
        return ()  # Return an empty tuple for n <= 0

    power_of_2_tuple = tuple(2 ** i for i in range(n))
    return power_of_2_tuple

# Example: Create a tuple of the first 5 powers of 2
n = 5
power_of_2_tuple = powers_of_2(n)
print(power_of_2_tuple)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [9]:
def find_longest_string_in_tuple(string_tuple):
    if not string_tuple:
        return None  # Return None for an empty tuple

    longest_string = string_tuple[0]  # Initialize with the first string

    for string in string_tuple:
        if len(string) > len(longest_string):
            longest_string = string

    return longest_string

# Example
string_tuple = ("apple", "banana", "cherry", "date", "elderberry")
longest = find_longest_string_in_tuple(string_tuple)
print("Longest string:", longest)

Longest string: elderberry

47. Find the shortest string in a tuple of strings.

In [10]:
def find_shortest_string_in_tuple(string_tuple):
    if not string_tuple:
        return None  # Return None for an empty tuple

    shortest_string = string_tuple[0]  # Initialize with the first string

    for string in string_tuple:
        if len(string) < len(shortest_string):
            shortest_string = string

    return shortest_string

# Example
string_tuple = ("apple", "banana", "cherry", "date", "elderberry")
shortest = find_shortest_string_in_tuple(string_tuple)
print("Shortest string:", shortest)

Shortest string: date

48. Create a tuple of the first `n` triangular numbers.

In [11]:
def generate_triangular_numbers(n):
    if n <= 0:
        return ()  # Return an empty tuple for n <= 0

    triangular_numbers = []
    for i in range(1, n + 1):
        triangular_numbers.append(i * (i + 1) // 2)

    return tuple(triangular_numbers)

# Example: Create a tuple of the first 5 triangular numbers
n = 5
triangular_tuple = generate_triangular_numbers(n)
print(triangular_tuple)

(1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [12]:
def contains_subtuple(main_tuple, sub_tuple):
    if not sub_tuple:
        return True  # An empty sub-tuple is always considered a subsequence

    # Initialize indices for both tuples
    main_index = 0
    sub_index = 0

    # Iterate through the main tuple
    while main_index < len(main_tuple):
        if main_tuple[main_index] == sub_tuple[sub_index]:
            sub_index += 1  # Move to the next element in the sub-tuple

            # If we have matched all elements in the sub-tuple, it's a subsequence
            if sub_index == len(sub_tuple):
                return True

        main_index += 1

    # If we reach here, the sub-tuple was not found as a subsequence
    return False

# Example
main_tuple = (1, 2, 3, 4, 5, 6)
sub_tuple = (2, 4, 6)

if contains_subtuple(main_tuple, sub_tuple):
    print("The sub-tuple is a subsequence of the main tuple.")
else:
    print("The sub-tuple is not a subsequence of the main tuple.")

The sub-tuple is a subsequence of the main tuple.

50. Create a tuple of alternating 1s and 0s of length `n`

In [13]:
def alternating_ones_and_zeros(n):
    if n <= 0:
        return ()  # Return an empty tuple for n <= 0

    alternating_tuple = tuple([1 if i % 2 == 0 else 0 for i in range(n)])
    return alternating_tuple

# Example: Create a tuple of alternating 1s and 0s of length 6
n = 6
alternating_tuple = alternating_ones_and_zeros(n)
print(alternating_tuple)

(1, 0, 1, 0, 1, 0)

# Set Based Practice Problem

1. Create a set with integers from 1 to 5.

In [14]:
my_set = set([1, 2, 3, 4, 5])
print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [15]:
my_set = {1, 2, 3, 4, 5}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [17]:
my_set = {1, 2, 3, 4, 5}
element_to_remove = 3

my_set.discard(element_to_remove)

# The set after removal will be {1, 2, 4, 5}
print(my_set)

{1, 2, 4, 5}

4. Check if an element exists in a set.4. Check if an element exists in a set.

In [18]:
my_set = {1, 2, 3, 4, 5}
element_to_check = 3

if my_set.intersection([element_to_check]):
    print(f"{element_to_check} exists in the set")
else:
    print(f"{element_to_check} does not exist in the set")

3 exists in the set

5. Find the length of a set without using the `len()` function.

In [19]:
def find_set_length(my_set):
    count = 0
    for _ in my_set:
        count += 1
    return count

# Example
my_set = {1, 2, 3, 4, 5}
length = find_set_length(my_set)
print("Length of the set:", length)

Length of the set: 5

6. Clear all elements from a set.

In [20]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

7. Create a set of even numbers from 1 to 10

In [21]:
even_numbers = {x for x in range(1, 11) if x % 2 == 0}
even_numbers = set()
for x in range(1, 11):
    if x % 2 == 0:
        even_numbers.add(x)
print(even_numbers)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [22]:
odd_numbers = {x for x in range(1, 11) if x % 2 != 0}
odd_numbers = set()
for x in range(1, 11):
    if x % 2 != 0:
        odd_numbers.add(x)
print(odd_numbers)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [23]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [25]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_set = set1.intersection(set2)
print(intersection_set)

{4, 5}

11. Find the difference between two sets.

In [1]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

difference_set = set1 - set2
print(difference_set)

{1, 2, 3}

12. Check if a set is a subset of another set.

In [2]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)

if is_subset:
    print("set1 is a subset of set2")
else:
    print("set1 is not a subset of set2")

set1 is a subset of set2

13. Check if a set is a superset of another set.

In [3]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}

is_superset = set1 >= set2

if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

14. Create a set from a list.

In [4]:
my_list = [1, 2, 3, 4, 5]
my_set = {x for x in my_list}
print(my_set)

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [5]:
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set)
print(my_list)

[1, 2, 3, 4, 5]

16. Remove a random element from a set.

In [6]:
my_set = {1, 2, 3, 4, 5}
removed_element = my_set.pop()

print(f"Removed element: {removed_element}")
print(f"Updated set: {my_set}")

Removed element: 1
Updated set: {2, 3, 4, 5}

17. Pop an element from a set.

In [7]:
my_set = {1, 2, 3, 4, 5}
popped_element = my_set.pop()

print(f"Popped element: {popped_element}")
print(f"Updated set: {my_set}")

Popped element: 1
Updated set: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [8]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("The sets have no elements in common.")
else:
    print("The sets have at least one element in common.")

The sets have no elements in common.

19. Find the symmetric difference between two sets.

In [9]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set )

{1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [10]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

set1.update(set2)
print(set1)

{1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [11]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers = set()
num = 2

while len(prime_numbers) < 5:
    if is_prime(num):
        prime_numbers.add(num)
    num += 1

print(prime_numbers)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [12]:
set1 = {1, 2, 3}
set2 = {1, 2, 3}

is_identical = set1.issubset(set2) and set2.issubset(set1)

if is_identical:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [13]:
my_set = {1, 2, 3, 4, 5}
my_frozen_set = frozenset(my_set)
print(my_frozen_set)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [14]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

are_disjoint = set1.isdisjoint(set2)

if are_disjoint:
    print("The sets are disjoint (have no elements in common).")
else:
    print("The sets are not disjoint (have at least one element in common).")

The sets are disjoint (have no elements in common).

25. Create a set of squares of numbers from 1 to 5

In [15]:
squares_set = {x**2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set

In [16]:
original_set = {1, 2, 3, 4, 5, 6, 7, 8, 9}

# Use a set comprehension to create a new set with only odd numbers
odd_numbers_set = {x for x in original_set if x % 2 != 0}

print(odd_numbers_set)

{1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [17]:
original_set = {1, 2, 3, 4, 5}

# Create a new set with elements multiplied by 2
doubled_set = {x * 2 for x in original_set}

print(doubled_set)

{2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [18]:
import random

# Set the range for random integers
lower_limit = 1
upper_limit = 100
num_elements = 10  # The number of random elements to generate

# Create an empty set to store the random numbers
random_set = set()

# Generate random numbers and add them to the set
while len(random_set) < num_elements:
    random_number = random.randint(lower_limit, upper_limit)
    random_set.add(random_number)

print(random_set)

{4, 39, 43, 46, 47, 83, 26, 59, 28, 93}

29. Check if a set is empty.

In [19]:
my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [20]:
nested_set = {
    frozenset({1, 2}),
    frozenset({3, 4}),
    frozenset({5, 6})
}
print(nested_set)

{frozenset({3, 4}), frozenset({5, 6}), frozenset({1, 2})}

31. Remove an element from a set using the discard method

In [21]:
my_set = {1, 2, 3, 4, 5}

# Remove element 3 from the set using discard
my_set.discard(3)

print(my_set)

{1, 2, 4, 5}

32. Compare two sets.

In [22]:
set1 = {1, 2, 3}
set2 = {3, 2, 1}

if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are equal.

33. Create a set from a string.

In [23]:
my_string = "hello"
my_set = set()

# Add each character from the string to the set
for char in my_string:
    my_set.add(char)

print(my_set)

{'o', 'h', 'l', 'e'}

34. Convert a set of strings to a set of integers.

In [24]:
string_set = {"1", "2", "3", "4", "5"}

# Convert the set of strings to a set of integers using a set comprehension
integer_set = {int(x) for x in string_set}

print(integer_set)

{1, 2, 3, 4, 5}

35. Convert a set of integers to a set of strings

In [25]:
integer_set = {1, 2, 3, 4, 5}

# Convert the set of integers to a set of strings using a set comprehension
string_set = {str(x) for x in integer_set}

print(string_set)

{'3', '4', '2', '1', '5'}

36. Create a set from a tuple.

In [26]:
my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [27]:
my_set = {1, 2, 3, 4, 5}
my_tuple = tuple(my_set)
print(my_tuple)

(1, 2, 3, 4, 5)

38. Find the maximum value in a set

In [28]:
my_set = {1, 3, 2, 5, 4}

max_value = max(my_set)

print(f"The maximum value in the set is: {max_value}")

The maximum value in the set is: 5

39. Find the minimum value in a set

In [29]:
my_set = {1, 3, 2, 5, 4}

min_value = min(my_set)

print(f"The minimum value in the set is: {min_value}")

The minimum value in the set is: 1

40. Create a set from user input.

In [30]:
# Get user input as a string of comma-separated values
user_input = input("Enter a comma-separated list of elements: ")

# Split the input string into a list of values
values_list = user_input.split(',')

# Create a set from the list of values
my_set = set(values_list)

print("The set created from user input:", my_set)

Enter a comma-separated list of elements: ,
The set created from user input: {''}

41. Check if the intersection of two sets is empty.

In [31]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1.isdisjoint(set2):
    print("The intersection of set1 and set2 is empty.")
else:
    print("The intersection of set1 and set2 is not empty.")

The intersection of set1 and set2 is empty.

42. Create a set of the first 5 Fibonacci numbers.

In [32]:
# Function to generate the first n Fibonacci numbers
def generate_fibonacci(n):
    fibonacci_set = set()
    a, b = 0, 1
    for _ in range(n):
        fibonacci_set.add(a)
        a, b = b, a + b
    return fibonacci_set

# Create a set of the first 5 Fibonacci numbers
fibonacci_numbers = generate_fibonacci(5)

print("Set of the first 5 Fibonacci numbers:", fibonacci_numbers)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3}

43. Remove duplicates from a list using sets.

In [33]:
my_list = [1, 2, 2, 3, 4, 4, 5, 5]

# Convert the list to a set to remove duplicates
unique_set = set(my_list)

# Convert the set back to a list
unique_list = list(unique_set)

print("Original list:", my_list)
print("List with duplicates removed:", unique_list)

Original list: [1, 2, 2, 3, 4, 4, 5, 5]
List with duplicates removed: [1, 2, 3, 4, 5]

44. Check if two sets have the same elements, regardless of their count.

In [34]:
set1 = {1, 2, 3, 4, 5}
set2 = {5, 4, 3, 2, 1}
set3 = {1, 2, 2, 3, 4}

# Check if set1 and set2 have the same elements (equivalent sets)
if set1 == set2:
    print("set1 and set2 are equivalent.")
else:
    print("set1 and set2 are not equivalent.")

# Check if set1 and set3 have the same elements (equivalent sets)
if set1 == set3:
    print("set1 and set3 are equivalent.")
else:
    print("set1 and set3 are not equivalent.")

set1 and set2 are equivalent.
set1 and set3 are not equivalent.

45. Create a set of the first `n` powers of 2.

In [35]:
n = 5  # Specify the number of powers of 2 you want
powers_of_2_set = set()

for i in range(n):
    powers_of_2_set.add(2 ** i)

print("Set of the first", n, "powers of 2:", powers_of_2_set)

Set of the first 5 powers of 2: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [36]:
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

common_elements = my_set.intersection(my_list)

print("Common elements:", common_elements)

Common elements: {3, 4, 5}

47. Create a set of the first `n` triangular numbers

In [37]:
n = 5  # Specify the number of triangular numbers you want
triangular_numbers_set = set()

for i in range(1, n + 1):
    triangular_number = i * (i + 1) // 2
    triangular_numbers_set.add(triangular_number)

print("Set of the first", n, "triangular numbers:", triangular_numbers_set)

Set of the first 5 triangular numbers: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [38]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1 using the <= operator
if set2 <= set1:
    print("set2 is a subset of set1.")
else:
    print("set2 is not a subset of set1.")

set2 is a subset of set1.

49. Create a set of alternating 1s and 0s of length `n`.

In [39]:
n = 10  # Specify the length of the alternating sequence
alternating_set = set()

for i in range(n):
    alternating_set.add(i % 2)

print("Set of alternating 1s and 0s:", alternating_set)

Set of alternating 1s and 0s: {0, 1}

50. Merge multiple sets into one.

In [41]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Merge the sets using the union() method
merged_set = set1.union(set2, set3)

print("Merged set:", merged_set)

Merged set: {1, 2, 3, 4, 5, 6, 7}